body{
  background: #0d0d0d;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  background-size: cover;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #e0e0e0;
  margin: 0;
}

nav{
  padding: 30px;
  justify-content: space-between;
  background: #0d0d0d;
  align-self: center;
  justify-self: center;
  display: flex;
  position: fixed;
  width: 90%;
  margin: 0;
  box-shadow: 4px 4px 5px #8b0000;
  margin-left: 35px;
  margin-top: 10px;
}

nav .logo{
  color: #e0e0e0;
  font-weight: 700;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  cursor: pointer;
}

.links{
  display: flex;
}

span{
  background-color: #8b0000;
  border-radius: 5px;
  font-size: 25px;
  padding: 10px;
}

.menu{
  display: none;
}

a{
  text-decoration: none;
  color: #e0e0e0;
  margin: 10px;
}

a:hover{
  color: #8b0000;
  transition: .5 ease-in-out;
  font-weight: 700;
}

/*h2{
  color: #8b0000;
}*/

section{
  padding-top: 130px;
  width: 80%;
  display: flex;
  justify-content: space-between;
}
section#home{
  display: block;
}
.blog-item{
  display: flex;
}

section .img{
  width: 45%;
  height: 80%;
}

section .img img{
  width: 100%;
  height: 100%;
  margin-left: 40px;
}

section .info{
  width: 55%;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  h2{
    color: #8b0000;
    font-family: ''Times New Roman', Times, serif';
  }
  p{
    text-align: left;
    margin-left: 75px;
    font-weight: 300;
  }
  .profile{
    margin-left: 75px;
    color: #e0e0e0;
    display: flex;
    gap: 15px;
  }
  .profile img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #8b0000;
    display: flex;
  }
  .profile span{
    display: flex;
    color: #e0e0e0;
    background: transparent;
    padding: 0;
    font-size: 15px;
    margin-top: 5px;
  }
  .btn{
    padding: 10px;
    background: #8b0000;
    width: 130px;
    font-weight: 700;
    color: #e0e0e0;
    border: none;
    outline: none;
    margin-left: 75px;
    cursor: pointer;
    margin-top: 129px;
    transition: .5s ease-in-out;
  }
  .btn:hover{
    background: transparent;
    border: #8b0000 2px solid;
    color: #8b0000;
    outline: none;
  }
}

section form{
  display: inline-block;
}

section form .input{
  width: 45%;
  height: 100%;
  display: block;
}

section form .input img{
  width: 100%;
  height: 440px;
  margin-left: 40px;
}

section form .input input{
  width: 100%;
  padding: 20px;
  margin-left: 40px;
  background-color: transparent;
}
form .holder{
  display: flex;
}

form .inputs{
  display: block;
}

form .inputs h2{
  color: #8b0000;
}

form .inputs input{
  width: 400px;
  padding: 20px;
  margin: 10px;
  border: 2px solid #8b0000;
  background-color: transparent;
  outline: none;
  color: #8b0000;
  font-weight: 900;
}
form .inputs button{
  padding: 10px;
    background: #8b0000;
    width: 130px;
    display: block;
    font-weight: 700;
    color: #e0e0e0;
    border: none;
    outline: none;
    margin-left: 125px;
    cursor: pointer;
    margin-top: 40px;
    transition: .5s ease-in-out;
}
form .inputs .note{
  height: 150px;
}
::placeholder{
  color: #8b0000;
  font-style: italic;
}